NET "des" LOC = "N4" ;  # name = LD5

NET "suma<3>" LOC = "P6" ;  # name = LD3
NET "suma<2>" LOC = "P7" ;  # name = LD2
NET "suma<1>" LOC = "M11";  # name = LD1
NET "suma<0>" LOC = "M5" ;  # name = LD0

NET "b<3>" LOC = "N3";  # name = SW7
NET "b<2>" LOC = "E2";  # name = SW6
NET "b<1>" LOC = "F3";  # name = SW5
NET "b<0>" LOC = "G3";  # name = SW4
NET "a<3>" LOC = "B4";  # name = SW3
NET "a<2>" LOC = "K3";  # name = SW2
NET "a<1>" LOC = "L3";  # name = SW1
NET "a<0>" LOC = "P11"; # name = SW0

NET "cin" LOC = "G12"; # name = BTN0