NET "des" LOC = "G1" ; # Bank = 3, Signal name = LD7
NET "salida<3>" LOC = "P6" ; # Bank = 2, Signal name = LD3
NET "salida<2>" LOC = "P7" ; # Bank = 3, Signal name = LD2
NET "salida<1>" LOC = "M11" ; # Bank = 2, Signal name = LD1
NET "salida<0>" LOC = "M5" ;  # Bank = 2, Signal name = LD0

# Pin assignment for SWs
NET "b<3>" LOC = "N3";  # name = SW7
NET "b<2>" LOC = "E2";  # name = SW6
NET "b<1>" LOC = "F3";  # name = SW5
NET "b<0>" LOC = "G3";  # name = SW4
NET "a<3>" LOC = "B4";  # name = SW3
NET "a<2>" LOC = "K3";  # name = SW2
NET "a<1>" LOC = "L3";  # name = SW1
NET "a<0>" LOC = "P11"; # name = SW0

NET "opera" LOC = "G12"; # Bank = 0, Signal name = BTN0