NET "respuesta<5>" LOC = "N4" ;  # Bank = 2, Signal name = LD5
NET "respuesta<4>" LOC = "N5" ;  # Bank = 2, Signal name = LD4
NET "respuesta<3>" LOC = "P6" ; # Bank = 2, Signal name = LD3
NET "respuesta<2>" LOC = "P7" ; # Bank = 3, Signal name = LD2
NET "respuesta<1>" LOC = "M11" ; # Bank = 2, Signal name = LD1
NET "respuesta<0>" LOC = "M5" ;  # Bank = 2, Signal name = LD0

NET "datb<3>" LOC = "N3";  # Bank = 2, Signal name = SW7
NET "datb<2>" LOC = "E2";  # Bank = 3, Signal name = SW6
NET "datb<1>" LOC = "F3";  # Bank = 3, Signal name = SW5
NET "datb<0>" LOC = "G3";  # Bank = 3, Signal name = SW4
NET "data<3>" LOC = "B4";  # Bank = 3, Signal name = SW3
NET "data<2>" LOC = "K3";  # Bank = 3, Signal name = SW2
NET "data<1>" LOC = "L3";  # Bank = 3, Signal name = SW1
NET "data<0>" LOC = "P11";  # Bank = 2, Signal name = SW0

NET "selec" LOC = "G12"; # Bank = 0, Signal name = BTN0